@import '../../../Style-Variabes.scss';


.button{
    border: solid;
    border-color: $color-green;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
    border-width: 2px 4px 6px 8px;
    font-family: $font;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 50px;
    margin-left: 210px;
    margin-bottom: 20px;
}

.button:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
