<div class="border"> 
    <div class="line">
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
    </div>
    <div class="line">
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
    </div>
    <div class="line">
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
        <app-track
        [songCover]="'assets/album-cover.jpg'"
        [songTitle]="'Song Title'">
        </app-track>
    </div>
</div>

